


#wrapper {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid #27292B;
    display: flex;
    flex-direction: column;
}

#navbar {
    box-sizing: border-box;
    width: 100%;
    height: 8%;
    border: 1px solid #27292B;
    flex-shrink: 0;
}

#content {
    display: flex;
    width: 100%;
    height: 92%;
    box-sizing: border-box;
}

#sidebar {
    box-sizing: border-box;
    width: 20%;
    height: 100%;
    border: 1px solid #27292B;
    flex-shrink: 0;
}

#main {
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    border: 1px solid #27292B;
    display: grid;
    flex-grow: 1;
    grid-template-columns: 70% 30%;
}

#dashboard-content{
    box-sizing: border-box;
    border: 1px solid #27292B;

}

#shadows-panel{
    box-sizing: border-box;
    border: 1px solid #27292B;

}
